# Mengabaikan file database SQLite (Data Pribadi)
*.db
*.db-journal

# Mengabaikan file binary hasil kompilasi
server-backend
*.exe

# Mengabaikan environment variables / file konfigurasi rahasia
.env